@{ 
    Layout = null;
}
@model MainSite.Areas.Admin.Models.Counters.CounterView
<style>
    .collection-item {
        font-size: 14px;
        padding: 4px;
    }

    .collection-item * {
        padding:0px;
        color: black;
    }
</style>
<div class="card-content" style=" width: 300px;">
    <ul class="collection striped">
        <li class="collection-item">
            <div class="title">Сегодня (@Model.TodayDate.ToShortDateString()):</div>
            <div class="bold">
                @Model.TodayCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">Вчера:</div>
            <div class="bold">
                @Model.PrevDayCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">За 3 дня:</div>
            <div class="bold">
                @Model.ThreeDayCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">За текущую неделю: (с @Model.WeekDate.ToShortDateString())</div>

            <div class="bold">
                @Model.WeekCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">За прошлую неделю:</div>

            <div class="bold">
                @Model.PrevWeekCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">В этом месяце:</div>

            <div class="bold">
                @Model.CurrentMonthCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">В прошлом месяце:</div>

            <div class="bold">
                @Model.PrevMonthCount
            </div>
        </li>
        <li class="collection-item">
            <div class="title">Всего:</div>
            <div class="bold">
                @Model.TotalCount
            </div>
        </li>
    </ul>
</div>